
<div class="container">
    <div class="row">
        <div class="well">
            <h1 class="text-center">Available trainers</h1>
            <div class="list-group">
              <% @trainers.each do |trainer| %>
                  <a class="list-group-item">
                      <div class="media col-md-3">
                          <figure class="pull-left">
                              <img class="avatar" src="<%= trainer.avatar.url %>"></i>
                          </figure>
                      </div>
                      <div class="col-md-5">
                          <h4 class="list-group-item-heading">Trainer Details</h4>
                          <p class="list-group-item-text">
                              <%= trainer.explanation %>
                          </p>
                      </div>
                      <div class="col-md-4 text-center">
                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <div class="address btn">Pick me!</div>
                              </div>
                          </div>
                      </div>
                    <%end%>
                  </a>
            </div>
        </div>
    </div>
</div>

<style>
