// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.exercises {
  position:relative;
  left: 15%;
}

.add_exercises {
  position:relative;
  left: 30%;
}

.edit-form {
  text-align:center;
}
