// Place all the styles related to the trainers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
   text-align: center;
}

div.img {
    margin:5px;
    border: 1px solid #ffA500;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #ff8000; background:#FFA500;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.portrait {
  height: 10em;
}

.address {
    font-size: 37px;
    text-decoration: underline;
    padding-bottom: 10px;
}

a.list-group-item {
    height: auto;
    min-height: 130px;
}

a.list-group-item:hover, a.list-group-item:focus {
    border-left:10px solid #FFA500;
    border-right:10px solid #FFA500;
}

a.list-group-item {
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}

.avatar {
  width: 120px;
  height: 108px;
}
